#header-nav{
	border-radius: 0;
	background-color: grey;
	border:0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#chicken ,#beef ,#sushi{
	background-color: grey;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#chicken h2,#beef h2,#sushi h2 {
	
	text-align: center;
	font-size: 1.5em;
	color: black; 
	font-weight: 700;
}
p{
	color: black;
}
.navbar-brand{
	padding-top: 3px;

}
.navbar-header{
	height: 75px;
}
h1{
	color: black;
	font-family: 'PT Sans', sans-serif;
    
	font-weight: bold;
	
	font-size:25px;

}
body { padding-top: 70px; }

#heading{
	margin-top: 20px;
	font-size: 2em;
	font-weight: 800;
	font-style: italic;
	text-align: center;

}
html
{
 height: 100%;
}

#nav-list a{
	text-align: center;
	color: black;
	font-size: 2em;
}
#nav-list a:hover {
	color: white;
}
@media only screen and (max-width : 768px) {
   #collapsable-nav{
   	background-color: #424242;
   }
}
